.contact-header {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.mail-icon {
  fill: var(--main-text-color);
  transition: fill var(--hover-effect);

  .contact-link:hover & {
    fill: var(--accent-color);
  }

  .contact-link:focus & {
    fill: var(--accent-color);
  }
}

.tel-icon {
  fill: var(--main-text-color);
  transition: fill var(--hover-effect);

  .contact-link:hover & {
    fill: var(--accent-color);
  }

  .contact-link:focus & {
    fill: var(--accent-color);
  }
}

.contact-link {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: center;

  transition: color var(--hover-effect);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
